MEDIA_SERVICE_HOST=0.0.0.0
MEDIA_SERVICE_PORT=4100
MEDIA_NODE_ID=media-local-1
MEDIA_PUBLIC_URL=http://127.0.0.1:4100
MEDIA_INTERNAL_TOKEN=change-this-media-internal-token
MEDIA_HEARTBEAT_INTERVAL_MS=10000
MEDIA_MAX_ROOMS=250
MEDIA_MAX_PEERS=5000

FASTAPI_BASE_URL=http://127.0.0.1:8000
CORS_ORIGIN=*

MEDIASOUP_LISTEN_IP=0.0.0.0
# Set this to the public IP reachable by WebRTC clients in production.
MEDIASOUP_ANNOUNCED_IP=
MEDIASOUP_MIN_PORT=40000
MEDIASOUP_MAX_PORT=49999

SOCKET_PING_TIMEOUT_MS=20000
SOCKET_PING_INTERVAL_MS=25000
VERIFY_TIMEOUT_MS=6000
